img{
    width: 100%;
    margin-top: 25%;

}
div{
    text-align: center;
}
p{
    font-size: 120%;
    /* font-family:'charm'; */
    font-weight: bold;
    border-radius: 15px;
    width: 20%;
    margin-left: 35%;
    padding: 5%;
    background-color: rgb(28, 179, 190);
    text-align: center;
}
p:hover{
    background-color: rgb(235, 187, 27);
    color: rgb(28, 179, 190);
}
a{
    background-color: rgb(28, 179, 190);
    text-decoration: none;
    color: black;
}